Repository aeturrell/skimpy: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml, end-of-file-fixer, trailing-whitespace

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

end-of-file-fixer:
  name: Fix End of Files
  entry: end-of-file-fixer
  language: system
  stages:
  - pre-commit
  - pre-push
  - manual

trailing-whitespace:
  name: Trim Trailing Whitespace
  entry: trailing-whitespace-fixer
  language: system
  stages:
  - pre-commit
  - pre-push
  - manual

mypy issues attempt to fix
  .github/workflows/tests.yml
  src/skimpy/__init__.py
Due: check-yaml, end-of-file-fixer, trailing-whitespace

temporarily drop mypy
  .github/workflows/tests.yml
  noxfile.py
Due: check-yaml, end-of-file-fixer, trailing-whitespace

follow cookiecutter uv tests format
  noxfile.py
Due: end-of-file-fixer, trailing-whitespace

remove non existent uv group
  noxfile.py
Due: end-of-file-fixer, trailing-whitespace

changing tests in light of new functionality
  tests/test_main.py
Due: end-of-file-fixer, trailing-whitespace

pre commit issue
  tests/test_main.py
Due: end-of-file-fixer, trailing-whitespace

editable local installs
  noxfile.py
Due: end-of-file-fixer, trailing-whitespace

another attempt coverage
  noxfile.py
Due: end-of-file-fixer, trailing-whitespace

Update noxfile.py
  noxfile.py
Due: end-of-file-fixer, trailing-whitespace

sort version bumping for dev release on test pypi
  .github/workflows/release.yml
Due: check-yaml, end-of-file-fixer, trailing-whitespace

fixing build and version bumping
  .github/workflows/release.yml
  version_bumper.py
Due: check-yaml, end-of-file-fixer, trailing-whitespace

bug in labeler; install skimpy when building docs
  .github/workflows/labeler.yml
  .github/workflows/release.yml
Due: check-yaml, end-of-file-fixer, trailing-whitespace

install quarto when building docs
  .github/workflows/release.yml
Due: check-yaml, end-of-file-fixer, trailing-whitespace

attempt to automate docs deployment
  .github/workflows/release.yml
Due: check-yaml, end-of-file-fixer, trailing-whitespace

setting up git config
  .github/workflows/release.yml
Due: check-yaml, end-of-file-fixer, trailing-whitespace

Built site for gh-pages
  .nojekyll
  code_of_conduct.html
  contributing.html
  features.html
  index.html
  reference/clean_columns.html
  reference/generate_test_data.html
  reference/index.html
  reference/skim.html
  reference/skim_get_data.html
  reference/skim_get_figure.html
  search.json
  site_libs/bootstrap/bootstrap-04dd6a5ca28aac96903e51a8fbffbcaa.min.css
  site_libs/bootstrap/bootstrap-icons.css
  site_libs/bootstrap/bootstrap-icons.woff
  site_libs/bootstrap/bootstrap.min.css
  site_libs/bootstrap/bootstrap.min.js
  site_libs/quarto-html/anchor.min.js
  site_libs/quarto-html/popper.min.js
  site_libs/quarto-html/quarto-syntax-highlighting-e26003cea8cd680ca0c55a263523d882.css
  site_libs/quarto-html/quarto.js
  site_libs/quarto-nav/quarto-nav.js
  site_libs/quarto-search/autocomplete.umd.js
  site_libs/quarto-search/quarto-search.js
Due: end-of-file-fixer, trailing-whitespace

consolidating release into one job with condition
  .github/workflows/release.yml
Due: check-yaml, end-of-file-fixer, trailing-whitespace

v0.0.16
  pyproject.toml
Due: check-toml, end-of-file-fixer, trailing-whitespace

Built site for gh-pages
  .nojekyll
  features.html
  search.json
Due: end-of-file-fixer, trailing-whitespace

sorting codecov upload; typo; docs update clarity
  .github/workflows/constraints.txt
  .github/workflows/tests.yml
  docs/contributing.qmd
  uv.lock
Due: check-yaml, end-of-file-fixer, trailing-whitespace

Update labeler.yml
  .github/workflows/labeler.yml
Due: check-yaml, end-of-file-fixer, trailing-whitespace

MIT license in pyproject.toml
  LICENSE.md
  pyproject.toml
Due: check-toml, end-of-file-fixer, trailing-whitespace

Update README.md to remove black badge
  README.md
Due: end-of-file-fixer, trailing-whitespace

v0.0.17
  pyproject.toml
Due: check-toml, end-of-file-fixer, trailing-whitespace

Built site for gh-pages
  .nojekyll
  contributing.html
  features.html
  search.json
Due: end-of-file-fixer, trailing-whitespace

Create LICENSE
  LICENSE
Due: end-of-file-fixer, trailing-whitespace

Update README.md with ruff badge
  README.md
Due: end-of-file-fixer, trailing-whitespace

Update pyproject.toml to use file-based license
  pyproject.toml
Due: check-toml, end-of-file-fixer, trailing-whitespace

relaxing constraints on pyarrow
  pyproject.toml
  uv.lock
Due: check-toml, end-of-file-fixer, trailing-whitespace

v0.0.18
  pyproject.toml
Due: check-toml, end-of-file-fixer, trailing-whitespace

Built site for gh-pages
  .nojekyll
Due: end-of-file-fixer, trailing-whitespace

pydoclint passing
  .pre-commit-config.yaml
  pyproject.toml
  src/skimpy/__init__.py
  src/skimpy/__main__.py
  uv.lock
Due: check-toml, check-yaml, end-of-file-fixer, trailing-whitespace

Fix downloads badge
  README.md
Due: end-of-file-fixer, trailing-whitespace

Fix downloads badge
  docs/index.ipynb
Due: none

updating ruff version in pre-commit
  .pre-commit-config.yaml
  docs/features.ipynb
  src/skimpy/__init__.py
  tests/test_main.py
Due: check-yaml, end-of-file-fixer, trailing-whitespace

command line skimming of csvs now uses duckdb's csv sniffer / reader
  pyproject.toml
  src/skimpy/__main__.py
  uv.lock
Due: check-toml, end-of-file-fixer, trailing-whitespace

dropping 3.9; adding 3.12; keeping 3.10 and 3.11
  .github/workflows/release.yml
  .github/workflows/tests.yml
  noxfile.py
  pyproject.toml
  uv.lock
Due: check-toml, check-yaml, end-of-file-fixer, trailing-whitespace

v0.0.19
  pyproject.toml
Due: check-toml, end-of-file-fixer, trailing-whitespace

Built site for gh-pages
  .nojekyll
  code_of_conduct.html
  contributing.html
  features.html
  index.html
  reference/clean_columns.html
  reference/generate_test_data.html
  reference/index.html
  reference/skim.html
  reference/skim_get_data.html
  reference/skim_get_figure.html
  search.json
  site_libs/bootstrap/bootstrap-04dd6a5ca28aac96903e51a8fbffbcaa.min.css
  site_libs/bootstrap/bootstrap-c1ef1f14acc610acb7f84b3726103d52.min.css
Due: end-of-file-fixer, trailing-whitespace

Path conditions:
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$, but not: docs/
  end-of-file-fixer: any file but: docs/
  trailing-whitespace: any file but: docs/
