Repository aeturrell/skimpy: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml, end-of-file-fixer, trailing-whitespace

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

end-of-file-fixer:
  name: Fix End of Files
  entry: end-of-file-fixer
  language: system
  stages:
  - pre-commit
  - pre-push
  - manual

trailing-whitespace:
  name: Trim Trailing Whitespace
  entry: trailing-whitespace-fixer
  language: system
  stages:
  - pre-commit
  - pre-push
  - manual

Updating badges
  docs/index.ipynb
Due: none

updating badges
  docs/index.ipynb
Due: none

type checking with ty
  noxfile.py
  pyproject.toml
  src/skimpy/__init__.py
  tests/test_main.py
  uv.lock
Due: check-toml, end-of-file-fixer, trailing-whitespace

tests update
  .github/workflows/tests.yml
Due: check-yaml, end-of-file-fixer, trailing-whitespace

ensure pyarrow can be compiled without pre-built binaries (fix for py3.13)
  .github/workflows/tests.yml
Due: check-yaml, end-of-file-fixer, trailing-whitespace

dodging the issue
  .github/workflows/tests.yml
Due: check-yaml, end-of-file-fixer, trailing-whitespace

resolving uv version consistency
  .github/workflows/release.yml
  noxfile.py
Due: check-yaml, end-of-file-fixer, trailing-whitespace

noxfile fix
  noxfile.py
Due: end-of-file-fixer, trailing-whitespace

v0.0.20
  pyproject.toml
Due: check-toml, end-of-file-fixer, trailing-whitespace

Built site for gh-pages
  .nojekyll
  features.html
  index.html
  search.json
Due: end-of-file-fixer, trailing-whitespace

Built site for gh-pages
  .nojekyll
  code_of_conduct.html
  contributing.html
  features.html
  index.html
  reference/clean_columns.html
  reference/generate_test_data.html
  reference/index.html
  reference/skim.html
  reference/skim_get_data.html
  reference/skim_get_figure.html
  search.json
  site_libs/bootstrap/bootstrap-c1ef1f14acc610acb7f84b3726103d52.min.css
  site_libs/bootstrap/bootstrap-f93c2b1f3f0577f377aefa4848a86a36.min.css
  site_libs/bootstrap/bootstrap-icons.css
  site_libs/bootstrap/bootstrap-icons.woff
  site_libs/quarto-html/axe/axe-check.js
  site_libs/quarto-html/quarto-syntax-highlighting-dc55a5b9e770e841cd82e46aadbfb9b0.css
  site_libs/quarto-html/quarto.js
  site_libs/quarto-html/tabsets/tabsets.js
  site_libs/quarto-search/autocomplete.umd.js
Due: end-of-file-fixer, trailing-whitespace

readme / site
  README.md
  uv.lock
Due: end-of-file-fixer, trailing-whitespace

docs: add examples for exporting summary tables
  docs/features.ipynb
Due: none

adding clean-up for generated assets
  docs/features.ipynb
Due: none

Built site for gh-pages
  .nojekyll
  features.html
  search.json
Due: end-of-file-fixer, trailing-whitespace

adding support for more file types for cli Extend CLI support to more file types Fixes #970
  src/skimpy/__main__.py
  tests/test_main.py
Due: end-of-file-fixer, trailing-whitespace

dependabot now uses uv
  .github/dependabot.yml
Due: check-yaml, end-of-file-fixer, trailing-whitespace

updating features with new CLI file types
  docs/features.ipynb
Due: none

fix ty issues
  src/skimpy/__init__.py
Due: end-of-file-fixer, trailing-whitespace

working ty check
  pyproject.toml
  src/skimpy/__init__.py
  uv.lock
Due: check-toml, end-of-file-fixer, trailing-whitespace

Use content-aware column widths instead of fixed max_width=20
  src/skimpy/__init__.py
  tests/test_main.py
Due: end-of-file-fixer, trailing-whitespace

Add optional console_width to skim_get_figure
  src/skimpy/__init__.py
  tests/test_main.py
Due: end-of-file-fixer, trailing-whitespace

working great docs
  .github/workflows/release.yml
  .github/workflows/tests.yml
  .gitignore
  Makefile
  README.md
  docs/_quarto.yml
  docs/contributing/conduct.qmd
  docs/contributing/contributing.qmd
  docs/features.ipynb
  docs/features/features.qmd
  docs/index.ipynb
  docs/objects.json
  great-docs.yml
  noxfile.py
  pyproject.toml
  src/skimpy/__init__.py
  uv.lock
Due: check-toml, check-yaml, end-of-file-fixer, trailing-whitespace

white space resolution
  great-docs.yml
Due: check-yaml, end-of-file-fixer, trailing-whitespace

v0.0.21
  pyproject.toml
Due: check-toml, end-of-file-fixer, trailing-whitespace

Fix shortest/longest picking the wrong row on non-default index
  src/skimpy/__init__.py
  tests/test_main.py
Due: end-of-file-fixer, trailing-whitespace

Raise a clear error on duplicate column names instead of crashing
  src/skimpy/__init__.py
  tests/test_main.py
Due: end-of-file-fixer, trailing-whitespace

Path conditions:
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$, but not: docs/
  end-of-file-fixer: any file but: docs/
  trailing-whitespace: any file but: docs/
